xsd/hateoasLinks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Hyperlinks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Link" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="rel" type="xsd:string"/>
						<xsd:attribute name="href" type="xsd:string"/>
						<xsd:attribute name="type" type="xsd:string"/>
						<xsd:attribute name="method" type="xsd:string"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>

